<div class="container divcenter ">
    <div class="row">
        <div class="col-md-12">
            <h1>OFERTAS DE EMPLEO</h1>
        </div>
        <div class="container col-md-6 d-flex justify-content-center mb-5 align-items-center ">
            <button class="btn border border-success recuento"  routerLink="/registerOffer"><i class="fa fa-plus"></i> Añadir oferta</button>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Ver más</th>
                    <th scope="col">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of this.arrayOffersData; let i = index">
                    <th scope="row">{{ i }}</th>
                    <td> {{ item.titulo }}</td>
                    <td><a (click)="this.viewOfferDetail(item.id)" class="btn btn-link ">Detalle</a></td>
                    <td><button class="btn" (click)="this.deleteOffer(item.id)"><i class="fa fa-trash"></i></button></td>
                </tr>
            </tbody>
            
        </table>
    </div>
</div>