.divcenter {
    max-width: 30rem;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.form-check{
    margin-bottom: 2rem;
    display: flex;
}

.card{
    opacity: 0.9 ;
}

input[type="checkbox"] {
    margin-right: 0.5rem ;
}
.fields {
    height: 3rem;
    font-size: 2rem;
}

.form-label{
    font-size: 1.6rem;
}

