<div class="container divcenter rounded" >
    <div class="row">
        <div class="col-md-12">
            <h1>OFERTAS DE EMPLEO</h1>
        </div>
    </div>
    <div class="container  ">
        <div class="container col-4 my-5">
            <div class=" ">
                <input type="search" class="form-control rounded " [(ngModel)]="searchText" placeholder="Buscar oferta">
            </div>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col" class="text-center">Ver más</th>
                </tr>
                
            </thead>
            <tbody>
                
                <tr *ngFor="let item of this.arrayOffersData | filter: searchText; let i = index ">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ item.titulo }}</td>
                    <td class="text-center"><a (click)="this.viewOfferDetail(item.id)" class="btn btn-link">Detalle</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>