<div class="container ">
    <div class="row divcenter">
        <div class="col-md-12 " >
            <div class="card " style="width:60rem;">
                <img class="card-img-top imagenCard" >
                <div class="card-body">
                    <h1>{{this.offerDetails.titulo}}</h1>
                    <p>{{this.offerDetails.descripcion}}</p>
                    <p>{{this.offerDetails.empresa}}</p>
                    <p>{{this.offerDetails.salario}}</p>
                    <p>{{this.offerDetails.ciudad}}</p>
                    <p>{{this.offerDetails.email}}</p>

                    <h5 class="card-title"></h5>
                    <a  class="btn btn-primary">VER</a>
                </div>
            </div>
        </div>
    </div>
</div>
