<div class="container ">
    <div class="row divcenter">
        <div class="col-md-12 " >
            <div class="card " style="width:60rem;">
                <img class="card-img-top imagenCard" >
                <div class="card-body">
                    <h1>{{this.offerDetails.titulo}}</h1>
                    <p>{{this.offerDetails.descripcion}}</p>
                    <p>{{this.offerDetails.empresa}}</p>
                    <p>{{this.offerDetails.salario | currency:'EUR' }}</p>
                    <p>{{this.offerDetails.ciudad}}</p>
                    <p>{{this.offerDetails.email}}</p>

                    <button class="btn" routerLink="/home"><i class="fa fa-arrow-left"></i></button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
